.header {
    &__main {
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
        position: relative;
        background-color: $white;
        width: 100%;
        border-bottom: $border-gray;

        &--fixed {
            position: fixed;
            z-index: 1;
        }

        &-options {
            transition: all 0.3s linear;

            & .button:last-child {
                margin-left: 15px;
            }

            @media #{$small-max} {
                position: fixed;
                right: -201px;
                top: 81px;
                background-color: #fcfcfa;
                z-index: 2;
                display: grid;
                grid-template-columns: 200px;
                grid-template-rows: repeat(4,45px);
                height: 100vh;
                justify-items: center;
                align-items: center;
                border-top: $border-gray;
                border-left: $border-gray;
                padding-top: 20px;

                & .button {
                    margin: 0;

                    &:last-child {
                        margin: 20px 0 0 0;
                    }
                }

                & a {
                    margin: 0;
                }
            }

            & a {
               margin: 0 20px 0 10px;
               color: $main-blue;
               -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
            

            &--opened {
                right: 0;
            }
        }
    }

    &__secondary {
        background-color: $main-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 20px;

        &--fixed {
            padding-top: 88px;
        }

        @media #{$medium-max} {
            flex-direction: column;
        }

        @media #{$small-max} {
            align-items: center;
        }
    }

    &__breadcrumb {
        color: $white;
        font-weight: $font-w-100;
            
        @media #{$medium-max} {
            font-size: 14px;
            padding: 12px 0;
        }

        &-selected {
            color: inherit;
            text-decoration: underline;
            font-weight: inherit;

            @media #{$medium-max} {
                font-size: 14px;
            }
        }
        
    }

    &__searchbar {
        display: flex;
        color: $white;
        justify-content: center;

        @media #{$medium-max} {
            width: 100%;
        }

        @media #{$small-max} {
            flex-direction: column;
        }

        &-option {
            display: none;
        }

        &-container {
            background-color: $main-blue;
            cursor: pointer;
            max-width: 250px;
            min-width: 200px;

            @media #{$large-max} {
                width: 200px;
                max-width: none;
                min-width: auto;
            }

            @media #{$small-max} {
                width: 100%;
            }

            & svg {
                color: $white;
                right: 10px;
            }

            &::before,
            &::after {
                content: none;
            }

            & .MuiPopover-root {
                & .MuiPaper-root {
                    margin-top: 2px;
                    border-radius: 0;
                }
            }
        }

        &-select.select {
            padding: 12px 50px 11px 15px;
            font-size: 15px;
            color: #FFFFFF;
            border: 1px solid white;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 0;

            @media #{$small-max} {
                border: 1px solid white;
                border-radius: 5px;
            }

            & option {
                color: black;
            }

            &:focus {
                background-color: $main-blue;
            }
        }

        &-input {
            outline: 0;
            border-color: transparent;
            padding: 10px 15px;
            width: 340px;

            &-container {
                display: flex;
                position: relative;
                flex-grow: 1;

                & .icon-x {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    color: $white;
                    background-color: $main-blue;
                    font-size: 16px;
                    padding: 3px;
                    border-radius: 50%;
                }
            }

            @media #{$large-max} {
                width: 150px;
            }

            @media #{$medium-max} {
                flex-grow: 1;
            }

            @media #{$small-max} {
                width: 100%;
            }
        }

        &-button {
            outline: 0;
            background-color: $main-blue;
            color: $white;
            border: 1px solid white;
            padding: 0 15px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 14px;
            cursor: pointer;

            &--disabled {
                opacity: .5;
                cursor: initial;
            }

            @media #{$small-max} {
                padding: 15px;
            }
        }

        & .text {
            position: absolute;
            font-weight: $font-w-100;
            top: 50%;
            right: 35px;
            transform: translateY(-45%);
            font-size: 15px;
        }
    }

    &__hamburguer {
        padding: 6px;
        background-color: transparent;
        border: 0;  
        display: none;
        transition: all 0.5s linear;

        @media #{$small-max} {
            display: block;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }

        &:focus {
            outline: 0;
        }

        &-line {
            height: 3px;
            width: 25px;
            background-color: $main-blue;
            display: block;
            margin-bottom: 5px;
            transition: all 0.2s linear;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--opened {
            .header__hamburguer-line {
                position: absolute;
                right: 35px;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(135deg);
                }
                
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

