$main-blue: #39629E;
$deep-blue: #27579e;
$sea-blue: #6495ed8f;
$dark-blue: #253f66;
$white: #FFFFFF;
$gray-light: #E1E7EB;
$gray-dark: #4D4D4D;
$porcelain: #FCFCFA;
$green-dark: #0F747E;
$gray-ash: #E5EEEE;
$gray-ash-light: #E0EAEB;
$gray-ash-dark: #E6E6E6;
$silver: #ACB5B6;
$chalk: #F9F9F9;
$pearl: #e8e8e8eb;
$gray: #C0C0C0;
$light-blue: rgba(0, 78, 245, 0.04);